<h1 class="text-center">Form builder demo</h1>
<div class="form-group">
    <label for="jsonInput">Paste your JSON data:</label>
    <textarea class="form-control" rows="5" id="jsonInput" ng-model='jsonInput'></textarea>
</div>
<button type="button" class="btn btn-primary" ng-disabled="!jsonInput" ng-click="openFormBuilder(jsonInput)">Edit in builder</button>
<button type="button" class="btn btn-success" ng-click="openFormBuilder()">Open builder</button>

<script type="text/ng-template" id="formBuilderTemplate.html">
    <div class="modal-header">
        <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
    </div>
    <div class="modal-body" id="modal-body">
        <ul>
            
        </ul>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
    </div>
</script>