<h1 class="text-center">Form builder demo</h1>
<div class="form-group">
    <label for="jsonInput">Paste your JSON data:</label>
    <textarea class="form-control" rows="5" id="jsonInput" ng-model='jsonInput'></textarea>
</div>
<button type="button" class="btn btn-primary" ng-disabled="!jsonInput" ng-click="openFormBuilder(jsonInput)">Edit in builder</button>
<button type="button" class="btn btn-success" ng-click="openFormBuilder()">Open builder</button>


<!-- Form builder Modal template -->
<script type="text/ng-template" id="formBuilderTemplate.html">
    <div class="modal-header">
        <button type="button" class="close" ng-click="cancel()" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id="modal-title" data-toggle="tooltip" data-placement="top" title="Hooray!">Drag and Drop form builder</h4>
    </div>
    <div class="modal-body" id="modal-body">
        <div class="row" ng-if="!showOutputModal">
            <div class="col-md-2 input-fields">
                <ul>
                    <li data-type="address" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> address
                    </li>
                    <li data-type="boolean" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> boolean
                    </li>
                    <li data-type="choice" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> choice
                    </li>
                    <li data-type="date" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> date
                    </li>
                    <li data-type="duration" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> duration
                    </li>
                    <li data-type="email" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> email
                    </li>
                    <li data-type="embedded" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> embedded
                    </li>
                    <li data-type="file" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> file
                    </li>
                    <li data-type="html" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> html
                    </li>
                    <li data-type="impacts" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> impacts
                    </li>
                    <li data-type="link" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> link
                    </li>
                    <li data-type="locale" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> locale
                    </li>
                    <li data-type="number" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> number
                    </li>
                    <li data-type="options" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> options
                    </li>
                    <li data-type="percent" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> percent
                    </li>
                    <li data-type="text" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> text
                    </li>
                    <li data-type="timezone" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> timezone
                    </li>
                    <li data-type="url" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <i class="fa fa-adn"></i> url
                    </li>
                </ul>
            </div>
            <div class="col-md-7 p-l-n">
                <div class="upload-drop-zone" ondrop="angular.element(this).scope().drop(event)" ondragover="angular.element(this).scope().allowDrop(event,this)">
                    Just drag and drop fields or layouts here
                </div>
                <ul ui-sortable ng-model="formItems">
                    <li ng-repeat="item in formItems">
                        <!-- for full-width items -->
                        <div class="form-group bg-white" ng-if="!isArray(item) && !item.property.schema">
                            <span class="pull-right">
                                <button type="button" class="btn btn-default btn-xs" ng-class="{'btn-warning':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false"
                                    ng-click="showProperty($index)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" ng-click="removeItem(formItems, $index)" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}"
                                    ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </span>
                            <h4 ng-if="item.property.header">{{item.property.header}}</h4>

                            <label for="{{item.html.inputId}}">{{item.property.label}}</label>
                            <input type="{{item.html.inputType}}" ng-if="!item.property.choices && !item.property.options" class="form-control" id="{{item.html.inputId}}"
                                placeholder="{{item.property.placeholder}}" aria-describedby="help-{{item.html.inputId}}" ng-readonly="!item.property.editable"
                                data-index="{{item.property.index = $index}}" />
                            <!-- For select box -->
                            <div ng-if="item.property.choices">
                                <select class="form-control" id="{{item.html.inputId}}" ng-readonly="!item.property.editable" aria-describedby="help-{{item.html.inputId}}">
                                    <option>-- select --</option>
                                    <option ng-repeat="(key, label) in item.property.choices" value="{{key}}">{{label}}</option>
                                </select>
                            </div>
                            <!-- For option box -->
                            <div ng-if="item.property.options">
                                <div ng-if="item.property.multiField">
                                    <label class="checkbox-inline" ng-repeat="(value, label) in item.property.options">
                                        <input type="checkbox" value="{{value}}"> {{label}}
                                    </label>
                                </div>
                                <div ng-if="!item.property.multiField">
                                    <label class="radio-inline" ng-repeat="(value, label) in item.property.options">
                                        <input type="radio" value="{{value}}" name="{{item.html.inputId}}"> {{label}}
                                    </label>
                                </div>
                            </div>
                            <span class="fa fa-plus bg-info input-multiple" ng-if="item.property.multiField && !item.property.options"></span>
                            <small id="help-{{item.html.inputId}}" class="form-text text-muted">{{item.property.description}}</small>
                        </div>
                        <!-- For Layouts -->
                        <div ng-if="isArray(item)" class="item-container">
                            <span class="pull-left" ng-if="columnExceed(item)">
                                <p class="text-warning">
                                    <i class="fa fa-exclamation-triangle"></i> Column sum exceed 12</p>
                            </span>
                            <span class="pull-right m-b-sm">
                                <button type="button" ng-click="removeItem(formItems, $index)" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}"
                                    ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </span>
                            <ul class="list-inline" ui-sortable ng-model="item" data-index="{{item.index = $index}}">
                                <li ng-repeat="elem in item track by $index" ng-class="{'col-md-6': item.length == 2, 'col-md-4': item.length == 3}">
                                    <div ondrop="angular.element(this).scope().dropOnLayout(event, this)" data-index="{{ item.index }}" data-position="{{$index}}"
                                        ondragover="angular.element(this).scope().allowDrop(event,this)" data-cols="{{item.length}}"
                                        class="dropZone">
                                        <p class="text-center" ng-if="isEmptyObject(elem)">Just drag and drop fields here</p>
                                        <div class="form-group bg-white" ng-if="!isEmptyObject(elem)">
                                            <span class="pull-right" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                                <button type="button" class="btn btn-default btn-xs" ng-class="{'btn-warning':hovering}" ng-click="showProperty(item.index, $index)">
                                                    <i class="fa fa-edit"></i>
                                                </button>
                                                <button type="button" ng-click="removeItem(item, $index)" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </span>
                                            <h4 ng-if="elem.property.header">{{elem.property.header}}</h4>
                                            <label for="{{elem.html.inputId}}">{{elem.property.label}}</label>
                                            <input type="{{elem.html.inputType}}" ng-if="!elem.property.choices && !elem.property.options" class="form-control" id="{{elem.html.inputId}}"
                                                placeholder="{{elem.property.placeholder}}" alt="elem.property.helpText" aria-describedby="help-{{elem.html.inputId}}"
                                            />
                                            <!-- For select box -->
                                            <div ng-if="elem.property.choices">
                                                <select class="form-control" id="{{elem.html.inputId}}" ng-readonly="!elem.property.editable" aria-describedby="help-{{elem.html.inputId}}">
                                                    <option>-- select --</option>
                                                    <option ng-repeat="(key, label) in elem.property.choices" value="{{key}}">{{label}}</option>
                                                </select>
                                            </div>
                                            <!-- For option box -->
                                            <div ng-if="elem.property.options">
                                                <div ng-if="elem.property.multiField">
                                                    <label class="checkbox-inline" ng-repeat="(value, label) in elem.property.options">
                                                        <input type="checkbox" value="{{value}}"> {{label}}
                                                    </label>
                                                </div>
                                                <div ng-if="!elem.property.multiField">
                                                    <label class="radio-inline" ng-repeat="(value, label) in elem.property.options">
                                                        <input type="radio" value="{{value}}" name="{{elem.html.inputId}}"> {{label}}
                                                    </label>
                                                </div>
                                            </div>
                                            <span class="fa fa-plus bg-info input-multiple" ng-if="elem.property.multiField"></span>
                                            <small id="help-{{elem.html.inputId}}" class="form-text text-muted">{{elem.property.description}}</small>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <!-- For embedded -->
                        <div ng-if="item.property.schema" class="item-container" style="border-color:black">
                            <label>{{item.property.label}}
                                <span class="fa fa-clone" ng-if="item.property.multiField"></span>
                            </label>
                            <span class="pull-right m-b-sm">
                                <button type="button" class="btn btn-default btn-xs" ng-class="{'btn-warning':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false"
                                    ng-click="showPropertyFromObject(item.property)">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" ng-click="removeItem(formItems, $index)" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}"
                                    ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                    <i class="fa fa-trash"></i>
                                </button>
                            </span>
                            <div class="dropZone" data-index="{{item.index = $index}}" data-position="-1" ondrop="angular.element(this).scope().dropOnEmbedded(event, this)"
                                ondragover="angular.element(this).scope().allowDrop(event,this)">
                                <p class="text-center">Just drag and drop fields here</p>
                            </div>
                            <ul class="list" ui-sortable ng-model="item.property.schema">
                                <li ng-repeat="embeddedItem in item.property.schema track by $index">
                                    <!-- for full-width items -->
                                    <div class="form-group bg-white" ng-if="!isArray(embeddedItem) && !embeddedItem.property.schema">
                                        <span class="pull-right">
                                            <button type="button" class="btn btn-default btn-xs" ng-class="{'btn-warning':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false"
                                                ng-click="showPropertyFromObject(embeddedItem.property)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" ng-click="removeItem(item.property.schema, $index)" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}"
                                                ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </span>
                                        <h4 ng-if="embeddedItem.property.header">{{embeddedItem.property.header}}</h4>
                                        <label for="{{embeddedItem.html.inputId}}">{{embeddedItem.property.label}}</label>
                                        <input type="{{embeddedItem.html.inputType}}" ng-if="!embeddedItem.property.choices && !embeddedItem.property.options" class="form-control"
                                            id="{{embeddedItem.html.inputId}}" placeholder="{{embeddedItem.property.placeholder}}"
                                            aria-describedby="help-{{embeddedItem.html.inputId}}" ng-readonly="!embeddedItem.property.editable"
                                            data-index="{{embeddedItem.property.index = $index}}" />
                                        <!-- For select box -->
                                        <div ng-if="embeddedItem.property.choices">
                                            <select class="form-control" id="{{embeddedItem.html.inputId}}" ng-readonly="!embeddedItem.property.editable" aria-describedby="help-{{embeddedItem.html.inputId}}">
                                                <option>-- select --</option>
                                                <option ng-repeat="(key, label) in embeddedItem.property.choices" value="{{key}}">{{label}}</option>
                                            </select>
                                        </div>
                                        <!-- For option box -->
                                        <div ng-if="embeddedItem.property.options">
                                            <div ng-if="embeddedItem.property.multiField">
                                                <label class="checkbox-inline" ng-repeat="(value, label) in embeddedItem.property.options">
                                                    <input type="checkbox" value="{{value}}"> {{label}}
                                                </label>
                                            </div>
                                            <div ng-if="!embeddedItem.property.multiField">
                                                <label class="radio-inline" ng-repeat="(value, label) in embeddedItem.property.options">
                                                    <input type="radio" value="{{value}}" name="{{embeddedItem.html.inputId}}"> {{label}}
                                                </label>
                                            </div>
                                        </div>
                                        <span class="fa fa-plus bg-info input-multiple" ng-if="embeddedItem.property.multiField && !embeddedItem.property.options"></span>
                                        <small id="help-{{embeddedItem.html.inputId}}" class="form-text text-muted">{{embeddedItem.property.description}}</small>
                                    </div>
                                    <!-- For Layouts -->
                                    <div ng-if="isArray(embeddedItem)" class="item-container">
                                        <span class="pull-left" ng-if="columnExceed(embeddedItem)">
                                            <p class="text-warning">
                                                <i class="fa fa-exclamation-triangle"></i> Column sum exceed 12</p>
                                        </span>
                                        <span class="pull-right m-b-sm">
                                            <button ng-click="removeItem(item.property.schema, $index)" type="button" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}"
                                                ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </span>
                                        <ul class="list-inline" ui-sortable ng-model="embeddedItem" data-index="{{embeddedItem.index = $index}}">
                                            <li ng-repeat="elem in embeddedItem track by $index" ng-class="{'col-md-6': embeddedItem.length == 2, 'col-md-4': embeddedItem.length == 3}">
                                                <div ondrop="angular.element(this).scope().dropOnEmbeddedLayout(event, this)" data-index="{{item.index}}" data-layout-index="{{ embeddedItem.index }}"
                                                    data-position="{{$index}}" ondragover="angular.element(this).scope().allowDrop(event,this)"
                                                    data-embedded-index="-1" data-cols="{{embeddedItem.length}}" class="dropZone">
                                                    <p class="text-center" ng-if="isEmptyObject(elem)">Just drag and drop fields here</p>
                                                    <div class="form-group bg-white" ng-if="!isEmptyObject(elem)">
                                                        <span class="pull-right" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                                            <button type="button" class="btn btn-default btn-xs" ng-class="{'btn-warning':hovering}" ng-click="showPropertyFromObject(elem.property)">
                                                                <i class="fa fa-edit"></i>
                                                            </button>
                                                            <button ng-click="removeItem(embeddedItem, $index)" type="button" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}">
                                                                <i class="fa fa-trash"></i>
                                                            </button>
                                                        </span>
                                                        <h4 ng-if="elem.property.header">{{elem.property.header}}</h4>
                                                        <label for="{{elem.html.inputId}}">{{elem.property.label}}</label>
                                                        <input type="{{elem.html.inputType}}" ng-if="!elem.property.choices && !elem.property.options" class="form-control" id="{{elem.html.inputId}}"
                                                            placeholder="{{elem.property.placeholder}}" alt="elem.property.helpText"
                                                            aria-describedby="help-{{elem.html.inputId}}" />
                                                        <!-- For select box -->
                                                        <div ng-if="elem.property.choices">
                                                            <select class="form-control" id="{{elem.html.inputId}}" ng-readonly="!elem.property.editable" aria-describedby="help-{{elem.html.inputId}}">
                                                                <option>-- select --</option>
                                                                <option ng-repeat="(key, label) in elem.property.choices" value="{{key}}">{{label}}</option>
                                                            </select>
                                                        </div>
                                                        <!-- For option box -->
                                                        <div ng-if="elem.property.options">
                                                            <div ng-if="elem.property.multiField">
                                                                <label class="checkbox-inline" ng-repeat="(value, label) in elem.property.options">
                                                                    <input type="checkbox" value="{{value}}"> {{label}}
                                                                </label>
                                                            </div>
                                                            <div ng-if="!elem.property.multiField">
                                                                <label class="radio-inline" ng-repeat="(value, label) in elem.property.options">
                                                                    <input type="radio" value="{{value}}" name="{{elem.html.inputId}}"> {{label}}
                                                                </label>
                                                            </div>
                                                        </div>
                                                        <span class="fa fa-plus bg-info input-multiple" ng-if="elem.property.multiField"></span>
                                                        <small id="help-{{elem.html.inputId}}" class="form-text text-muted">{{elem.property.description}}</small>
                                                    </div>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <!-- For embedded inside embedded -->
                                    <div ng-if="embeddedItem.property.schema" class="item-container" style="border-color:black">
                                        <label>{{embeddedItem.property.label}}
                                            <span class="fa fa-clone" ng-if="embeddedItem.property.multiField"></span>
                                        </label>
                                        <span class="pull-right m-b-sm">
                                            <button type="button" class="btn btn-default btn-xs" ng-class="{'btn-warning':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false"
                                                ng-click="showPropertyFromObject(embeddedItem.property)">
                                                <i class="fa fa-edit"></i>
                                            </button>
                                            <button type="button" ng-click="removeItem(item.property.schema, $index)" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}"
                                                ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                                <i class="fa fa-trash"></i>
                                            </button>
                                        </span>
                                        <div class="dropZone" data-position="{{embeddedItem.index = $index}}" data-index="{{item.index}}" ondrop="angular.element(this).scope().dropOnEmbedded(event, this)"
                                            ondragover="angular.element(this).scope().allowDrop(event,this)">
                                            <p class="text-center">Just drag and drop fields here</p>
                                        </div>
                                        <ul class="list" ui-sortable ng-model="item.property.schema">
                                            <li ng-repeat="microEmbeddedItem in embeddedItem.property.schema track by $index">
                                                <!-- for full-width items -->
                                                <div class="form-group bg-white" ng-if="!isArray(microEmbeddedItem) && !microEmbeddedItem.property.schema">
                                                    <span class="pull-right">
                                                        <button type="button" class="btn btn-default btn-xs" ng-class="{'btn-warning':hovering}" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false"
                                                            ng-click="showPropertyFromObject(microEmbeddedItem.property)">
                                                            <i class="fa fa-edit"></i>
                                                        </button>
                                                        <button type="button" ng-click="removeItem(embeddedItem.property.schema, $index)" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}"
                                                            ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </span>
                                                    <h4 ng-if="microEmbeddedItem.property.header">{{microEmbeddedItem.property.header}}</h4>
                                                    <label for="{{microEmbeddedItem.html.inputId}}">{{microEmbeddedItem.property.label}}</label>
                                                    <input type="{{microEmbeddedItem.html.inputType}}" ng-if="!microEmbeddedItem.property.choices && !microEmbeddedItem.property.options"
                                                        class="form-control" id="{{microEmbeddedItem.html.inputId}}" placeholder="{{microEmbeddedItem.property.placeholder}}"
                                                        aria-describedby="help-{{microEmbeddedItem.html.inputId}}" ng-readonly="!microEmbeddedItem.property.editable"
                                                        data-index="{{microEmbeddedItem.property.index = $index}}" />
                                                    <!-- For select box -->
                                                    <div ng-if="microEmbeddedItem.property.choices">
                                                        <select class="form-control" id="{{microEmbeddedItem.html.inputId}}" ng-readonly="!microEmbeddedItem.property.editable" aria-describedby="help-{{microEmbeddedItem.html.inputId}}">
                                                            <option>-- select --</option>
                                                            <option ng-repeat="(key, label) in microEmbeddedItem.property.choices" value="{{key}}">{{label}}</option>
                                                        </select>
                                                    </div>
                                                    <!-- For option box -->
                                                    <div ng-if="microEmbeddedItem.property.options">
                                                        <div ng-if="microEmbeddedItem.property.multiField">
                                                            <label class="checkbox-inline" ng-repeat="(value, label) in microEmbeddedItem.property.options">
                                                                <input type="checkbox" value="{{value}}"> {{label}}
                                                            </label>
                                                        </div>
                                                        <div ng-if="!microEmbeddedItem.property.multiField">
                                                            <label class="radio-inline" ng-repeat="(value, label) in microEmbeddedItem.property.options">
                                                                <input type="radio" value="{{value}}" name="{{microEmbeddedItem.html.inputId}}"> {{label}}
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <span class="fa fa-plus bg-info input-multiple" ng-if="microEmbeddedItem.property.multiField && !microEmbeddedItem.property.options"></span>
                                                    <small id="help-{{microEmbeddedItem.html.inputId}}" class="form-text text-muted">{{microEmbeddedItem.property.description}}</small>
                                                </div>
                                                <!-- For Layouts -->
                                                <div ng-if="isArray(microEmbeddedItem)" class="item-container">
                                                    <span class="pull-left" ng-if="columnExceed(microEmbeddedItem)">
                                                        <p class="text-warning">
                                                            <i class="fa fa-exclamation-triangle"></i> Column sum exceed 12</p>
                                                    </span>
                                                    <span class="pull-right m-b-sm">
                                                        <button type="button" ng-click="removeItem(embeddedItem.property.schema, $index)" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}"
                                                            ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                                            <i class="fa fa-trash"></i>
                                                        </button>
                                                    </span>
                                                    <ul class="list-inline" ui-sortable ng-model="microEmbeddedItem" data-index="{{microEmbeddedItem.index = $index}}">
                                                        <li ng-repeat="elem in microEmbeddedItem track by $index" ng-class="{'col-md-6': microEmbeddedItem.length == 2, 'col-md-4': microEmbeddedItem.length == 3}">
                                                            <div ondrop="angular.element(this).scope().dropOnEmbeddedLayout(event, this)" data-index="{{item.index}}" data-layout-index="{{ microEmbeddedItem.index }}"
                                                                data-position="{{$index}}" ondragover="angular.element(this).scope().allowDrop(event,this)"
                                                                data-embedded-index="{{embeddedItem.index}}" data-cols="{{microEmbeddedItem.length}}"
                                                                class="dropZone">
                                                                <p class="text-center" ng-if="isEmptyObject(elem)">Just drag and drop fields here</p>
                                                                <div class="form-group bg-white" ng-if="!isEmptyObject(elem)">
                                                                    <span class="pull-right" ng-mouseenter="hovering=true" ng-mouseleave="hovering=false">
                                                                        <button type="button" class="btn btn-default btn-xs" ng-class="{'btn-warning':hovering}" ng-click="showPropertyFromObject(elem.property)">
                                                                            <i class="fa fa-edit"></i>
                                                                        </button>
                                                                        <button type="button" ng-click="removeItem(microEmbeddedItem, $index)" class="btn btn-default btn-xs" ng-class="{'btn-danger':hovering}">
                                                                            <i class="fa fa-trash"></i>
                                                                        </button>
                                                                    </span>
                                                                    <h4 ng-if="elem.property.header">{{elem.property.header}}</h4>
                                                                    <label for="{{elem.html.inputId}}">{{elem.property.label}}</label>
                                                                    <input type="{{elem.html.inputType}}" ng-if="!elem.property.choices && !elem.property.options" class="form-control" id="{{elem.html.inputId}}"
                                                                        placeholder="{{elem.property.placeholder}}" alt="elem.property.helpText"
                                                                        aria-describedby="help-{{elem.html.inputId}}" />
                                                                    <!-- For select box -->
                                                                    <div ng-if="elem.property.choices">
                                                                        <select class="form-control" id="{{elem.html.inputId}}" ng-readonly="!elem.property.editable" aria-describedby="help-{{elem.html.inputId}}">
                                                                            <option>-- select --</option>
                                                                            <option ng-repeat="(key, label) in elem.property.choices" value="{{key}}">{{label}}</option>
                                                                        </select>
                                                                    </div>
                                                                    <!-- For option box -->
                                                                    <div ng-if="elem.property.options">
                                                                        <div ng-if="elem.property.multiField">
                                                                            <label class="checkbox-inline" ng-repeat="(value, label) in elem.property.options">
                                                                                <input type="checkbox" value="{{value}}"> {{label}}
                                                                            </label>
                                                                        </div>
                                                                        <div ng-if="!elem.property.multiField">
                                                                            <label class="radio-inline" ng-repeat="(value, label) in elem.property.options">
                                                                                <input type="radio" value="{{value}}" name="{{elem.html.inputId}}"> {{label}}
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <span class="fa fa-plus bg-info input-multiple" ng-if="elem.property.multiField"></span>
                                                                    <small id="help-{{elem.html.inputId}}" class="form-text text-muted">{{elem.property.description}}</small>
                                                                </div>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="col-md-3">
                <div class="row dragable-layouts text-center">
                    <p class="bg-dark-black">Dragable layouts</p>
                    <div class="col-md-12" data-type="layout" data-cols="2" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <div class="col-md-6 bg-gray">1</div>
                        <div class="col-md-6 bg-gray">2</div>
                    </div>
                    <div class="col-md-12 m-t-sm" data-type="layout" data-cols="3" draggable="true" ondragstart=" angular.element(this).scope().drag(event, this)">
                        <div class="col-md-4 bg-gray">1</div>
                        <div class="col-md-4 bg-gray">2</div>
                        <div class="col-md-4 bg-gray">3</div>
                    </div>
                </div>
                <div class="row input-properties">
                    <p class="bg-dark-black text-center">Field properties</p>
                    <ul class="propertyUl">
                        <li ng-repeat="(key, val) in formItemProperty">
                            <div class="form-group" ng-if="(isString(val) || isNumber(val)) && viewableProperty(key)">
                                <label class="text-capitalize" for="inputsm{{$index}}">{{key}}</label>
                                <input class="form-control input-sm" value="{{val}}" ng-model="formItemProperty[key]" placeholder="{{key}}" id="inputsm{{$index}}"
                                    type="text" ng-readonly="checkReadonlyProperty(key, val)">
                            </div>
                            <div class="form-group" ng-if="isBoolean(val)">
                                <div class="checkbox">
                                    <label class="text-capitalize">
                                        <input type="checkbox" ng-model="formItemProperty[key]" ng-change="booleanPropertyChanged(key)"> {{getLabelForKey(key)}}
                                    </label>
                                </div>
                            </div>

                            <div ng-if="isObject(val) && !isArray(val)">
                                <label class="text-capitalize">{{key}}: </label>
                                <table ng-if="!isEmptyObject(val)" class="table table-striped table-bordered table-hover table-condensed" style="font-size: 12px;">
                                    <thead>
                                        <tr>
                                            <th>Key</th>
                                            <th>Label</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="(key, label) in val">
                                            <td>{{key}}</td>
                                            <td>{{label}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <div class="row m-b-sm">
                                    <div class="col-md-5" style="padding-right: 5px;">
                                        <input type="text" class="form-control input-sm" ng-model="mapEntry.key" placeholder="Key">
                                    </div>
                                    <div class="col-md-5" style="padding-left: 0;padding-right: 5px;">
                                        <input type="text" class="form-control input-sm" ng-model="mapEntry.label" placeholder="Label">
                                    </div>
                                    <span class="fa fa-plus add-img-button" ng-click="addItemToOptions(val)"></span>
                                    <!-- <button class="btn btn-primary btn-xs" ng-click="addItemToOptions(val)">
                                            <i class="fa fa-check-square"></i>
                                        </button> -->
                                </div>
                            </div>
                        </li>
                    </ul>
                    <button ng-if="formItemProperty" type="button" class="btn btn-default" ng-click="applyChangedProperty(currentIndex)">
                        <i class="fa fa-check-circle"></i> Apply
                    </button>
                </div>
            </div>

        </div>
        <div class="form-group" ng-if="showOutputModal">
            <label for="jsonInput">Output JSON data:</label>
            <textarea class="form-control" rows="10" id="jsonInput" ng-model='jsonOutput' readonly></textarea>
        </div>
    </div>
    <div class="modal-footer" ng-if="!showOutputModal">
        <button class="btn btn-primary" type="button" ng-click="exportToJSON()">Export as JSON</button>
        <button class="btn btn-default" type="button" ng-click="cancel()">Cancel</button>
    </div>
    <div class="modal-footer" ng-if="showOutputModal">
        <button class="btn btn-default" type="button" ng-click="cancel()">Close</button>
    </div>
</script>
